.forma{
    width: 1050px;
    margin-top: 90px;
}

.formulario{
    border: 1px solid #515151;
}

.respuesta{
    border: 1px solid #515151;
}

.formulario, .respuesta{
    margin-left: 10px;
    border-radius: 6px;
    padding: 30px;
    color: rgb(8, 10, 10);
}